/* RESET
************************************************************/
/*#region*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}*, *:before, *:after{box-sizing:inherit;}a{text-decoration:none;outline:none;color:inherit;}input:focus{outline:none;}

html {
  box-sizing: border-box;
}
/*#endregion*/

/* FORMATAGE BASE
************************************************************/
/*ROOT FONT SIZE - rem*/
html {
  font-size: 14px; /*10px*/
}

/*BODY*/
body {
  font-size: 1em; /*14px*/
  font-family: 'Alegreya', Helvetica, sans-serif;
  line-height: 1.5;
}
  /*TITLES*/ 
  h1, h2, h3 {
    font-family: "Roboto Slab", serif;
}
h1 {
  font-size:2em; /* 18px*/
}
h2 {
  font-size:1.75em; /* 21px*/
}
h3 {
  font-size:1.5em; /* 16.8‬px*/
}
/*PARAGRAPHES*/
p {
  font-size:1.2em; /* 16.8‬px*/
  margin-bottom: 1em; /*18px*/
}

/* CLASSES EN COMMUN
************************************************************/
/*ici toutes les classes réutilisables*/


/* LAYOUT
************************************************************/
/* BODY
-------------------------------------*/
body {
  margin: 40px;
}

/* HEADER
-------------------------------------*/
/*HEADER*/
header {
    background-image: url("assets/images/DesLegumes/atmospheric-background-beautiful-531872.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-bottom: 1em;
    min-height: 300px;
    position: relative;
    width: 100%;

  }

/*LOGO FIGURE*/
.logo-figure {
  display: right;
  width: 3em;
  height: auto;
}



.menu {
  float: right;
  font-weight: 700;
  text-align: center;
}
.menu a {
  display: inline-block;
	padding: .05em .5em;
	margin: .5em 0;
	font-size: 2em;
	line-height: 1;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;
	color: inherit;
	border: none;
  text-decoration: none;
  font-family: BirchStd;
	transition: margin-left 0.2s ease-in-out;
}
.menu a:hover,
.menu a:focus,
.menu .active {
  font-weight: 700;
  border-bottom: solid 5px white; 
	background: rgba(188, 202, 206, 0.15); 
}



.menu .active:after {
  content: "";
  display: block;
  height: 0;
}


/* CONTENU
-------------------------------------*/
/*MAIN - max 80% de large, centrer horizontalement*/


main {
  width: 100%;
  margin: 3em 0;
  }
  * {
    box-sizing: border-box;
  }
  
  
  .column_img {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */


  .center { 
    margin: 0 auto; 
    width: 650px; 
  }


hr {
  border-bottom: 25px solid #fff;
  /* border-radius: 25px; */
  border-bottom-width: 100px;
}


  /*main ends here*/ 
   /*Footer starts here*/

/* ICONS
----------------------------------------------*/
/* .featured-icons .icon,
.featured.icon {
	font-size: 4em;
	display: inline-block;
	padding: .2em;
} */


.icon {
  position: relative;
}

.icon.circle {
	transition: all 0.2s ease-in-out;
	border: 0;
	border-radius: 100%;
	display: inline-block;
	font-size: 1.25em;
	height: 2.25em;
	align-items: center;
	line-height: 2.25em;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 2.25em;
	color: #fff;
}
.icon.circle:hover {
	top: -0.2em;
}

.icon > .label {
	display: none;
}

.icon.circle.fa-twitter {
	background: #70aecd;
}
.icon.circle.fa-facebook {
	background: #7490c3;
}
.icon.circle.fa-google-plus {
	background: #db6b67;
}
.icon.circle.fa-github {
	background: #dcad8b;
}
.icon.circle.fa-dribbble {
	background: #da83ae;
}   

.icons {
  justify-content: center;
	flex-direction: row;
	margin-bottom: 2em;
}

.icons li {
	padding: 0 .4em;
}

/*DISPLAY FLEX*/
.DF {
flex-direction: row;
}
  
footer {
  background-image: url("assets/images/DesLegumes/astro-astronomy-background_1.jpg");
  font-size: .7em;
  left: auto;
  height: 520px;
  margin: auto;
  text-align: justify;
  color: white;
  /* color: greenyellow; */
  }

  time{
    font-size: 20px;
  } 
  .row_img::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .column_footer_1 {
    float: left;
    width: 50%;
    height: 100%;
    /* border:20px solid whitesmoke; 
    border-style: groove; 
    border-radius: 2% */
    padding: 5px;
 
  }
  .column_footer_2 {
    float: left;
    width: 25%;
    padding: 5px;
    text-align: left;
  }


  .column_footer_3 {
    float: left;
    width: 25%;
    padding: 5px;
  }
  /* Clearfix (clear floats) */
  .row_footer::after {
    content: "";
    clear: both;
    display: flex;
  }
  /* copyright lower black strech 100%*/
.copyright {
    bottom: 0;
    height:60px;
    /* background-color:burlywood ; */
    background: #E8EEF4;
    position: relative;
    width: 100%;
    color:brown; 
    font-size: 1.2em; 
    display: flex;
    justify-content: center;
    /* padding-top: 1em;
    border-top: dotted 2px #d2ed3b; */
    color: #7c8081;
    padding: 2em 4% 2em;


} 

/*Floating Back-To-Top "Go HOME" Button*/
#myBtn {
  position: fixed;
  bottom: 100px;
  float: right;
  right: 5%;
  left: 95%;
  max-width: 60px;
  width: 100%;
  font-size: 16px;
  border-color: rgb(255, 20, 147);
  background-color: rgb(255, 71, 20);
  padding: .5em, 1em;
  border-radius: 4px;
  border: 0;
	font-family: inherit;
	font-weight: inherit;
	cursor: pointer;
	transition: background .3s ease, color .5s ease, border-raduis .3s ease;

}
/*On Hover Color Change and radius changes*/
#myBtn:hover {
  background-color: #7dbbf1;
	color: #fff;
	border-radius: .5em;
}

/* MEDIA QUERIES
************************************************************/
@media (min-width: 640px) {

  body {
    margin: 2em 4em;
  }

  /*NAVIGATION - MENU*/
  .menu li {
    margin-left: 2em;
  }

  /*CONTENT*/
  .content {
    max-width: 1024px;
    margin: 3em auto;
  }

}